@import "tailwindcss";

@font-face {
  font-display: swap; 
  font-family: 'kulim';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/kulim-park-v14-latin-regular.woff2') format('woff2');
}

@theme {
    --color-text: #bba0ca;
    --color-fill: #272727;
    --color-white: #F4F4F5;
    --color-lilac: #D1C8E1;
    --color-lightFill: #414141;
    --breakpoint-lg: 70rem;
}

@layer base {
  html {
    margin: 0;
    font-family: 'kulim';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}